
{{input value=filter type='text' placeholder='Category Filter'}}
{{#link-to 'products' (query-params category_filter=filter)}}<button type="button">Filter</button>{{/link-to}}
{{#link-to 'products' }}<button type="button" {{action clearFilter}}>Clear Filter</button>{{/link-to}}
<br>
<table class="table">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>SKU</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    {{#each product in model}}

                <tr>
                <td>
                {{#link-to 'product' product}}
                {{product.name}}
                {{/link-to}}
                </td>
                <td>{{product.sku}}</td>
                <td>{{product.category}}</td>
                </tr>

    {{else}}
        <tr class="danger">
            <td>No products found.</td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{page-numbers content=content}}


