<h1>{{name}}</h1>

<dl>
    <dt>Category</dt>
    <dd>{{category}}</dd>

    <dt>SKU</dt>
    <dd>{{sku}}</dd>
</dl>

<p>
    Updated at: {{formatted-date updatedAt 'MMMM Do, YYYY [at] h:mm a'}}
    <br>
    Created at: {{formatted-date createdAt 'MMMM Do, YYYY [at] h:mm a'}}
</p>